NEXT_PUBLIC_SITE_URL=https://gntservice.ma

# Zoho Mail (domaine personnalisé)
SMTP_HOST=smtp.zoho.com
SMTP_PORT=465
SMTP_USER=contact@gntservice.ma
SMTP_PASS=
SMTP_TLS_INSECURE=true
MAIL_TO=contact@gntservice.ma
MAIL_FROM="GNT Service <contact@gntservice.ma>"
